.Photo {
	display: flex;
/* 	justify-content: flex-start;
 */}

.container {
	position: relative;
}

.Photo > img {
	padding: 10px;
}

#bounding-box {
	display: none;
	justify-content: center;
	position: absolute;
	border: solid 3px red;
	cursor: pointer;
}