.Sign {
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
	margin-right: 12vw;
}

a {
	color: lightgray;
	/* rgb(62, 201, 120); */
	font-size: 1.5rem;
	text-decoration: none;
}

a:hover {
	color: white;
}